<div id="wrapper">
  <div class="m-content">
    <div class="header">
      <img src="https://i.imgur.com/zqpwkLQ.png" alt="" />
    </div>
    <form [formGroup]="loginForm">
      <div class="l-part">
          <input matInput type="text" formControlName="username" placeholder="Електронна пошта" class="input-1" />
        <div class="overlap-text">
          <input matInput formControlName="password" type="password" placeholder="Пароль" class="input-2" />
        </div>
        <button class="btn" [disabled]="loginForm.invalid" (click)="submit()">
          Увійти
        </button>
      </div>
    </form>
  </div>
  <div class="sub-content">
    <div class="s-part">
      Не маєте аккаунту? <a href="/register">Зареєструватися</a>
    </div>
  </div>
</div>
