<div>
  <h2>Редагування профілю</h2>
  <form class="edit-form" [formGroup]="profileEditForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Ім'я</mat-label>
      <input matInput
             formControlName="firstName">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Прізвище</mat-label>
      <input matInput
             formControlName="lastName">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Про себе</mat-label>
      <input matInput
             formControlName="bio">
    </mat-form-field>

    <div class="row">
      <button (click)="closeDialog()" class="w-50"
              mat-button mat-dialog-close disableRipple>
        Cancel
      </button>
      <button color="primary" class="w-50" [disabled]="profileEditForm.invalid" (click)="submit()" mat-button disableRipple>
        Update
      </button>
    </div>
  </form>
</div>
