<div id="wrapper">
  <div class="m-content">
    <div class="header">
      <img src="https://i.imgur.com/zqpwkLQ.png" alt="" />
    </div>
    <form [formGroup]="registerForm">
      <div class="l-part">
        <input matInput type="text" formControlName="email" placeholder="Електронна пошта" class="input-1" />
        <input matInput type="text" formControlName="username" placeholder="Нікнейм" class="input-1" />
        <input matInput type="text" formControlName="firstname" placeholder="Ім'я" class="input-1" />
        <input matInput type="text" formControlName="lastname" placeholder="Прізвище" class="input-1" />
        <div class="overlap-text">
          <input matInput formControlName="password" type="password" placeholder="Пароль" class="input-2" />
        </div>
        <div class="overlap-text">
          <input matInput formControlName="confirmPassword" type="password" placeholder="Підтвердити пароль" class="input-2" />
        </div>
        <button routerLink="/login" class="btn" [disabled]="registerForm.invalid" (click)="submit()">
          Зареєструватися
        </button>
      </div>
    </form>
  </div>
  <div class="sub-content">
    <div class="s-part">
      У вас є аккаунт? <a href="/login">Вхід</a>
    </div>
  </div>
</div>

