<app-navigation></app-navigation>
<div class="profile-container">

  <div class="profile" *ngIf="isUserDataLoaded">

    <div class="profile-image">

      <img style="width: 150px; height: 150px" [src]="previewImgURL || formatImage(userProfileImage) || 'https://cdn.discordapp.com/attachments/1086066192248217752/1106900667701919765/default-user.png'" alt="">

    </div>

    <div class="profile-user-settings">

      <span class="profile-user-name">{{user.username}}</span>

      <button class="btn profile-edit-btn" (click)="openEditDialog()">Редагувати профіль</button>

      <button class="btn profile-edit-btn" routerLink="/profile/add">Створити пост</button>

    </div>

    <div class="profile-stats">

      <span class="profile-stat-box"><span class="profile-stat-count">0</span> дописів</span>
      <span class="profile-stat-box"><span class="profile-stat-count">0</span> читачів</span>
      <span class="profile-stat-box"><span class="profile-stat-count">0</span> стежать</span>

    </div>

    <div class="profile-bio">
      <p>{{user.bio}}}️</p>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
