/*.user-profile {*/
/*  display: block;*/
/*  margin: 0 auto;*/
/*  width: 60%;*/
/*  text-align: center;*/
/*  padding-top: 3rem;*/
/*}*/

/*.profile-image {*/
/*  border-radius: 50%;*/
/*  width: 150px;*/
/*  height: 150px;*/
/*  display: block;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  margin-bottom: 2rem;*/
/*}*/

h2 {
  margin: 0;
}

.profile-container {
  max-width: 975px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
  padding: 5rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.profile-image img {
  border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
  display: flex;
  width: calc(66.666% - 2rem);
}

.profile-user-settings {
  margin-top: 1.1rem;
  display: flex;
  align-items: center;
}

.profile-user-name {
  font-size: 25px;
  font-weight: 300;
}

.profile-edit-btn {
  font-size: 14px;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}

.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem;
}

.profile-stats {
  margin-top: 2.3rem;
}

.profile-stat-box {
  display: inline-block;
  font-size: 18px;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-stat-box li:last-of-type {
  margin-right: 0;
}

.profile-bio {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 500;
}

/* Gallery Section */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 2px;
  color: #fff;
  cursor: pointer;
  height: 309px;
  max-width: 309px;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.gallery-item-likes {
  margin-right: 2.2rem;
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
  transform: rotateY(180deg);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
