<div class="header-box">
  <img routerLink="/main" style="cursor: pointer" src="https://cdn.discordapp.com/attachments/1086066192248217752/1101835009473658971/logo.png" alt="logo">

  <button *ngIf="!isLoggedIn" matTooltip="Login" routerLink="/login" mat-icon-button class="example-icon favorite-icon">
    <mat-icon>login</mat-icon>
  </button>

  <div class="profile-menu">
    <h3 *ngIf="isDataLoaded">{{this.user.firstname}} {{this.user.lastname}}</h3>

    <span *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" matTooltip="Profile" mat-icon-button>
      <img class="avatar-header" src="https://cdn.discordapp.com/attachments/1086066192248217752/1102193380584341605/avatar.png" alt="avatar">
<!--      <button>asd</button>-->
    </span>
    <mat-menu id="menu-item" #menu="matMenu">
      <button mat-menu-item routerLink="/profile">Профіль</button>
      <button (click)="logout()" mat-menu-item>
        Вийти
      </button>
    </mat-menu>
  </div>
</div>
